# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [31]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [32]:
# your code here
db=pd.read_csv('data\Admission_Predict.csv')
db

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [33]:
# your code here
db.columns.str.replace(" ","")

Index(['SerialNo.', 'GREScore', 'TOEFLScore', 'UniversityRating', 'SOP', 'LOR',
       'CGPA', 'Research', 'ChanceofAdmit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [34]:
# your code here
print(db.head())
db.describe()

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,193.000000,316.732468,107.387013,3.070130,3.376623,3.431169,8.597091,0.548052,0.723922
std,111.284171,11.559115,6.121456,1.144628,1.007640,0.896936,0.602385,0.498333,0.144027
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,97.000000,308.000000,103.000000,2.000000,2.500000,3.000000,8.160000,0.000000,0.640000
50%,193.000000,317.000000,107.000000,3.000000,3.500000,3.500000,8.620000,1.000000,0.730000
75%,289.000000,325.000000,112.000000,4.000000,4.000000,4.000000,9.070000,1.000000,0.830000
max,385.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [35]:
# your code here

''' as shown below, everything seems normal, the column Research is based on 1 & 0 data'''
(db==0).sum()

Serial No.             0
GRE Score              0
TOEFL Score            0
University Rating      0
SOP                    0
LOR                    0
CGPA                   0
Research             174
Chance of Admit        0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [36]:
# your code here
db=db.set_index('Serial No.')
db

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [37]:
# your code here
print("GRE Score unique values list:",db['GRE Score'].unique())
print("CGPA unique values list:",db['CGPA'].unique())

GRE Score unique values list: [337 316 322 314 330 321 308 302 323 327 328 307 311 317 319 318 303 325
 334 336 298 295 310 300 338 340 331 320 299 304 313 332 326 329 339 312
 324 309 315 301 296 294 306 305 290 335 333 297 293]
CGPA unique values list: [9.65 8.   8.67 8.21 9.34 8.2  7.9  8.6  9.   9.1  8.3  8.7  8.8  8.5
 8.4  9.5  9.7  9.8  7.5  7.2  7.3  8.1  9.4  9.6  9.2  7.8  7.7  9.3
 8.85 7.4  7.6  6.8  8.92 9.02 8.64 9.22 9.16 9.64 9.76 9.45 9.04 8.9
 8.56 8.72 8.22 7.54 7.36 8.02 9.36 8.66 8.42 8.28 8.14 7.92 7.66 8.03
 7.88 7.84 8.96 9.24 8.88 8.46 8.12 8.25 8.47 9.05 8.78 9.18 9.46 9.38
 8.48 8.68 8.34 8.45 8.62 7.46 7.28 8.84 9.56 9.48 8.36 9.32 8.71 9.35
 8.65 9.28 8.77 8.16 9.08 9.12 9.15 9.44 9.92 9.11 8.26 9.43 9.06 8.75
 8.89 8.69 7.86 9.01 8.97 8.33 8.27 7.98 8.04 9.07 9.13 9.23 8.87 8.98
 8.94 9.53 8.76 8.52 8.54 9.91 9.87 7.65 7.89 9.14 9.66 9.78 9.42 9.26
 8.23 8.07 9.31 9.17 9.19 8.37 7.68 8.15 8.73 8.83 8.57 9.68 8.09 8.79
 8.17 7.64 8.01 7.95 8.49 7.87 7.97 8.18 8.32 8.55 8.43 8.53 8.74 8.44
 9.47 8.24 8.13 7.34 7.43 7.25 8.06 7.67 9.54 9.62 7.56 9.74 9.82 7.96]

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [38]:
db.reset_index(inplace=True)

In [39]:
db.set_index(['GRE Score','CGPA'],inplace=True)
db

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [40]:
# your code here
db=db.reset_index()
db

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
383,312,8.78,384,103,3,3.5,4.0,0,0.67
384,333,9.66,385,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [41]:
# your code here
db[(db['CGPA'] > 9) & (db['Research'] == 1)]['Serial No.'].count()

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [48]:
# your code here
db1=db[(db['CGPA']>9)&(db['SOP']<3.5)]
db1

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,29,118,4,3.0,4.5,1,0.91
62,327,9.02,63,114,3,3.0,3.0,0,0.61
140,326,9.11,141,114,3,3.0,3.0,1,0.83
217,324,9.01,218,111,4,3.0,3.0,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84

In [49]:
db1['Chance of Admit'].mean()

KeyError: 'Chance of Admit'

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [50]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    return (db[col] - np.mean(db[col])) / np.std(db[col])

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [63]:
# your code here
db['CGPA_std'] = standardize('CGPA')
db['GRE_std'] = standardize('GRE Score')
db['LOR_std'] = standardize('LOR ')
db

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [64]:
# Libraries
from random import choices

In [69]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=db.shape[0])
db['decision_choice'] = decision_choice

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [70]:
# your code here
db['deciding_column'] = db.lookup(db.index, db['decision_choice'])

db

C:\Users\Bachir\AppData\Local\Temp\ipykernel_17412\50940364.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  db['deciding_column'] = db.lookup(db.index, db['decision_choice'])

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,GRE_std,-0.236698
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,CGPA_std,1.234884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,CGPA_std,0.736216
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,CGPA_std,0.852571
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,LOR_std,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [71]:
# your code here
def decider(row):
    if row['deciding_column'] > 0.8:
        val = 1
    else:
        val = 0
    return val


db['decision'] = db.apply(decider, axis=1)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [73]:
# your code here
db['decision'].sum()

88

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [74]:
# your code here
db.columns = db.columns.str.replace(' ','_').str.replace('.','').str.lower()
db.head(3)

C:\Users\Bachir\AppData\Local\Temp\ipykernel_17412\2862873583.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  db.columns = db.columns.str.replace(' ','_').str.replace('.','').str.lower()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor_,research,chance_of_admit_,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [76]:
# your code here
def boost(row):

    if row['university_rating'] >= 4:
        return row['gre_score'] + 10
    else:
        return row['gre_score']


db['gre_score'] = db.apply(boost, axis=1)

db.head(3)

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor_,research,chance_of_admit_,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,357,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,LOR_std,-1.039517,0

In [78]:
adjusted_gre = pd.cut(db['gre_score'], 4)
adjusted_gre.value_counts()

(307.5, 325.0]     166
(342.5, 360.0]      93
(289.93, 307.5]     82
(325.0, 342.5]      44
Name: gre_score, dtype: int64